<form class="border p-5 rounded" action="/login" method="post">
  <h1 class="text-center">Login as admin </h1>
  <p class="text-danger fw-bold d-block"><%= errors.message %></p>
  <!-- Email input -->
  <div class="form-outline-dark mb-4">
    <input
      type="email"
      id="form1Example1"
      class="form-control"
      name="email"
      placeholder="Write Email"
    />
  </div>
  <!-- Password input -->
  <div class="form-outline-dark mb-4">
    <input
      type="password"
      id="form1Example2"
      class="form-control"
      name="password"
      placeholder="Password"
    />
  </div>
  <!-- Submit button -->
  <button type="submit" class="btn btn-block text-light" style="background-color: #ff7e31">Sign in</button>
</form>
