<div class="row row-cols-1 row-cols-md-3 g-4 my-5">
  <% cards_data.forEach((data) => { %>
  <div class="col">
    <div class="card card-bg h-100 flex-column home-cards py-5">
      <img src="<%= data.img %>" class="card-img-top w-50" alt="Skyscrapers" />
      <div class="card-body flex-column gap-5">
        <h5 class="card-title text-light"><%= data.title %></h5>
        <p class="card-text text-light"><%= data.description %></p>
      </div>
    </div>
  </div>
  <% }) %>
</div>
