<!-- header -->
<%- include('../../layouts/Header.ejs') %>
<!-- navbar -->
<%- include('../../layouts/Nav.ejs') %>
<div class="container my-5">
<%- include('../../../components/Admin/adminProducts/adminProducts.ejs') %>
</div>
<!-- footer -->
    <%- include('../../../bootstrap/bootstrapJs.ejs') %>
  </body>
</html>
