<!-- header -->
<%- include('../../layouts/Header.ejs') %>
<!-- navbar -->
<%- include('../../layouts/Nav.ejs') %>
<div class="container my-5">
  <h1 class="text-center"> <%= admin?.name %> </h1>
  <hr/>
</div>
<!-- footer -->
    <%- include('../../../bootstrap/bootstrapJs.ejs') %>
  </body>
</html>
