<!-- header -->
<%- include('../../layouts/Header.ejs') %>
<!-- navbar -->
<%- include('../../layouts/Nav.ejs') %>
<div class="container my-5">
  <!-- register form -->
  <%- include('../../../components/Admin/Login/loginForm.ejs') %>
  <!-- register form -->
</div>
<!-- footer -->
    <%- include('../../../bootstrap/bootstrapJs.ejs') %>
  </body>
</html>
