<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../../bootstrap/bootstrapCss.ejs')%>
    <title>404</title>
  </head>
  <body
    class="vh-100"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    "
  >
    <i class="fa-regular fa-face-frown display-1"></i>
    <h1>404</h1>
    <div class="d-flex gap-3">
      <p>go back to home page</p>
      <a href="/">Home</a>
    </div>
  </body>
</html>
