<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="/">
      <i class="fa-solid fa-bag-shopping" style="color: #ff7e31"></i>
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars" style="color: #ff7e31"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-light" href="/">Online Shopping</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="/" style="color: #ff7e31">Home</a>
        </li>
      </ul>

      <!-- Left links -->
      <% if(admin) { %>
      <div class="d-flex align-items-center">
        <a href="/profile/<%= admin._id %>">
          <button
            type="button"
            class="btn btn-link px-3 me-2"
            data-mdb-toggle="tooltip"
            data-mdb-html="true"
            title="<em>Hi</em> <u><%= admin.name %></u>"
            style="color: #ff7e31"
          >
            <%= admin.name %>
          </button>
        </a>
        <form action="/logout">
          <button
            type="submit"
            class="btn me-3 text-white"
            style="background-color: #ff7e31"
          >
            logOut
          </button>
        </form>
      </div>
      <% } else { %>
      <!-- Left links -->
      <div class="d-flex align-items-center">
        <a href="/login"
          ><button
            type="button"
            class="btn btn-link px-3 me-2"
            style="color: #ff7e31"
          >
            Login
          </button></a
        >
      </div>
      <% } %>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
